li{
	margin-bottom: 10px;
	color:black;
	font-family: "微软雅黑";
}
#foot_p{
	font-size: 18px;
	line-height:2;
}
#footerContainer{
	margin-bottom: 10px;
}
#footerContainer .col-md-2 a{
	color: #000000;
}
#footerContainer .col-md-2 a:hover{
	color:dodgerblue;
}