<include file="Index/header" />		
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="__APP__/Admin/Index/index">首页</a></li>
			<li><a href="__APP__/Admin/Mailconfig/index">邮箱参数设置</a></li>		
		</ol>
		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">邮箱参数设置</h3>
		    </div>
		    <div class="panel-body">
		        <form class="form-horizontal">		            
		            <div class="form-group">
		              <label class="col-md-2 control-label">安全协议</label>
		              <div class="col-md-10 form-div">
		                <label class="radio-inline">
		                  <input type="radio" name="email_smtp_secure" value="" <if condition="$res.email_smtp_secure eq ''">checked="checked"</if>>默认
		                </label>
		                <label class="radio-inline">
		                  <input type="radio" name="email_smtp_secure" value="ssl" <if condition="$res.email_smtp_secure eq ssl">checked="checked"</if>>SSL
		                </label>
		                <label class="radio-inline">
		                  <input type="radio" name="email_smtp_secure" value="tls" <if condition="$res.email_smtp_secure eq tls">checked="checked"</if>>TSL
		                </label>
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="smtp" class="col-md-2 control-label">SMTP协议</label>
		              <div class="col-md-10">
		                <input type="text" class="form-control" id="smtp" value="{$res['email_smtp']}" name="email_smtp">
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="user_name" class="col-md-2 control-label">用户名</label>
		              <div class="col-md-10 form-div">
		                <input type="text" class="form-control" id="user_name" value="{$res['email_username']}" name="email_username">
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="password" class="col-md-2 control-label">密码</label>
		              <div class="col-md-10 form-div">
		                <input type="password" class="form-control" id="password" value="{$res['email_password']}" name="email_password">
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="portnum" class="col-md-2 control-label">端口号</label>
		              <div class="col-md-10 form-div">
		                <input type="text" class="form-control" id="portnum" name="email_port" value="{$res['email_port']}">
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="sender" class="col-md-2 control-label">发件人</label>
		              <div class="col-md-10 form-div">
		                <input type="text" class="form-control" id="sender" name="email_from_name" value="{$res['email_from_name']}">
		              </div>
		            </div>
		            <div class="form-group">
		              <label for="mail" class="col-md-2 control-label">接受测试的邮箱</label>
		              <div class="col-md-10 form-div">
		                <input type="text" class="form-control" id="mail" name="send_to">
		              </div>
		            </div>		            
          		</form>
          		<div class="text-center">
          			<button class="btn btn-default" type="button" onclick="edit()">修改</button>
		            <button class="btn btn-default" type="button" onclick="send()">测试邮件发送</button>
		            <a href="__APP__/Admin/Index/index"><button class="btn btn-default" type="button">返回</button></a>
          		</div>
		    </div>
		</div>
	</div>
	<script type="text/javascript">
		var SCOPE={
			'save_url':'__APP__/Admin/Mailconfig/edit',
			'jump_url':'__APP__/Admin/Mailconfig/index',
			'send_url':'__APP__/Admin/Mailconfig/sendTest',
		};
		function edit(){
			var data=$('form').serializeArray();
			var postData={};
			$(data).each(function(i){
				postData[this.name]=this.value;
			});
			$.ajax({
				type:"post",
				url:SCOPE.save_url,
				async:true,
				data:postData,
				success:function(res){
					if (res.status==1) {
						return dialog.success(res.msg,SCOPE.jump_url);
					} else{
						return dialog.error(res.msg);
					}
				},
				dataType:'json'
			});
		}
		function send(){
			var i;
			var data=$('form').serializeArray();
			var postData={};
			$(data).each(function(i){
				postData[this.name]=this.value;
			});
			$.ajax({
				type:"post",
				url:SCOPE.send_url,
				async:true,
				data:postData,
				beforeSend:function(){
					i=layer.load(0, {shade: false});
				},
				success:function(res){
					layer.close(i);
					if (res.status==1) {
						return dialog.success(res.msg,SCOPE.jump_url);
					} else{
						return dialog.error(res.msg);
					}
				},
				dataType:'json'
			});
		}
	</script>
<include file="Index/footer" />